/*#header1{*/
/*    background-image: url("../img/1.png");*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100%;*/
/*}*/



#id01 {
    background-image: url("../img/油灯.png");
    background-repeat: no-repeat;
    background-size: 100%;
}